*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 600px;
    height: 400px;
    flex-flow: row wrap;
    justify-content: center;
    border: #0b4100 dashed 2px;
    background-color: blueviolet;
}

.item{
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px #0b4100 solid;
    background-color: aqua;
    color: blueviolet;

}

.item:nth-child(1), .item:nth-child(5) {
    align-items: stretch;
    height: auto;
}

.item:nth-child(6), .item:nth-child(8) {
    height: 150px;
    align-self: flex-end;
}

.item:nth-child(2), .item:nth-child(4) {
    height: 150px;
    align-self: flex-start;
}

.item:nth-child(7) {
    height: 180px;

}